<!--<ngx-graph-->
<!--class="chart-container"-->
<!--[view]="view"-->
<!--[legend]="showLegend"-->
<!--[links]="bla"-->
<!--(legendLabelClick)="onLegendLabelClick($event)"-->
<!--[nodes]="asd"-->
<!--[orientation]="orientation"-->
<!--[curve]="curve"-->
<!--[schemeType]="tests"-->
<!--(select)="select($event)">-->


<!--</ngx-graph>-->


<div>
  <div>
    <h2>Wierzchołki</h2>
<ul class="nodes">
  <li *ngFor="let node of nodes"
      [class.selected]="node === selectedNode"
      (click)="onSelect(node)">
    <span class="badge">{{node.id}}</span> {{node.name}}
  </li>
</ul>
  </div>
  <button (click)="setpolFlag()">Pokaż połączenia</button>
  <div *ngIf="polFlag">

    <h2>Połączenia</h2>
<ul class="nodes">
  <li *ngFor="let node of arcs">
    Z {{node.from}}  do {{node.to}} wartość {{node.value}}
  </li>
</ul></div>
</div>



<button (click)="getGreedy()">Przeszukaj Graf</button>

<div *ngIf="gFlag">
  <h2>Optymalna ścieżka to: {{greedyString}}</h2>


</div>

<div *ngIf="selectedNode">

  <h2>Szczegóły wierzchołka {{ selectedNode.name | uppercase }} </h2>
  <div><span>id: </span>{{selectedNode.id}}</div>
  <div>
    <label> Nazwa:
      <!--<input [(ngModel)]="selectedNode.name" placeholder="name">-->
      {{selectedNode.name}}
    </label>

  </div>
  <div><span>Typ: </span>{{selectedNode.type}}</div>
    <div><span>Wyjściowe</span>
      <li *ngFor="let node of selectedNode.outgoing"
      >
        Z <span class="badge">{{node.from}}</span>
        Do <span class="badge">{{node.to}}</span>
        Wartość <span class="badge">{{node.value}}</span>
      </li>


    </div>
    <div><span>Wejściowe</span>
      <li *ngFor="let node of selectedNode.incoming"
      >
        Z <span class="badge">{{node.from}}</span>
        Do <span class="badge">{{node.to}}</span>
        Wartość <span class="badge">{{node.value}}</span>
      </li>


    </div>


  </div>
